body {
  background-color: #1b1c1e;
  color: #f7f7f7;
}

.navbar-inverse {
  background-color: #212529;
  border-color: #292b2c;
  height: 70px;
}

.list-group-item {
  display: flex;
  background-color: #212529;
  border-color: #292b2c;
  color: #f7f7f7;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.precio {
  font-weight: normal;
  /* margin-left: 10px;*/
}

.texto {
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  /*float: right;*/
}

.descuento {
  margin-top: 20px;
}

.well {
  background-color: #212529;
  border-color: #292b2c;
  color: #f7f7f7;
}

#calculator-container {
  display: flex;
  justify-content: space-between;
}

#descuento-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#descuento-container input {
  width: 20%;
}

#lista-productos {
  padding-top: 22px;
  width: 60%;
}

#lista-pedidos {
  width: 35%;
}

.main {
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pedido-card {
  width: 50%;
  padding: 10px 10px;
  background-color: #212529;
  border-color: #292b2c;
  color: #f7f7f7;
  margin-bottom: 10px;
  border: 1.5px #292b2c solid;
  border-radius: 4px;
}

.numero {
  font-weight: bold;
}

.icono {
  width: 60px;
}

.navbar-brand {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.h3 {
  vertical-align: middle;
}

.btn{
  background-color: #212529;
  border: 1.5px #292b2c solid;
  border-radius: 4px;
}

.btn:hover{
  background-color: #121314;
}

.botonborrar{
  background-color: #212529;
  border: 1.5px #292b2c solid;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle; 
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
}

.botonborrar:hover{
  background-color: #121314;
}

.form-control{
  width: 20%;
}

.listadoble {
  display: flex;
  justify-content: space-between;
}

.list-group {
  flex-basis: 48%;
}

.faccion {
  font-weight: bold;
}